@font-face 
{
    font-family: 'Maple';
    src: url('./Fonts/Maple-Medium.eot');
    src: url('./Fonts/Maple-Medium.eot?#iefix') format('embedded-opentype'),
        url('./Fonts/Maple-Medium.woff2') format('woff2'),
        url('./Fonts/Maple-Medium.woff') format('woff'),
        url('./Fonts/Maple-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face 
{
    font-family: 'Maple';
    src: url('./Fonts/Maple-Black.eot');
    src: url('./Fonts/Maple-Black.eot?#iefix') format('embedded-opentype'),
        url('./Fonts/Maple-Black.woff2') format('woff2'),
        url('./Fonts/Maple-Black.woff') format('woff'),
        url('./Fonts/Maple-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

html
{
    background-color: #FFD651;
    font-family: "Maple", sans-serif;
}

body
{
    height: 100%;
    margin: 0;
    padding: 0;
}

#stats
{
    width: calc(50% - 100px);
    float: right;
    padding: 20px 50px;
}

#mapContainer
{
    width: 50%; 
    height: 100%;
    position: fixed;
}

#mapContainer div
{
    box-shadow: inset #000 -15px 0px 20px -20px;
    opacity: 0.9;
}

#date
{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: normal;
}

.distance
{
    font-size: 2rem;
    margin-top: 15px;
    margin-bottom: 60px;
}

.stat-box
{
    text-align: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    width: calc(50% - 30px);
    display: inline-block;
    border-radius: 10px;
    float: left;
}

#avg-speed
{
    float: right;
}

.stat-value
{
    font-size: 4rem;
    font-family: "Maple-bold";
    margin: 30px;
}

.graph
{
    width: calc(100% - 20px);
    margin-top: 20px;
    height: 300px;
    margin-bottom: 50px;
    padding-right: 10px;
}

.nav-bar
{
    margin: 0 auto 60px auto;
    clear: both;
    user-select: none;
}

.nav
{
    font-size: 2rem;
    display: inline-block;
    float: left;
}

#next
{
    float: right;
}

.nav-link
{
    text-decoration: none;
    color: #000;
}

.nav-text
{
    border-bottom: 4px solid transparent;
}

.nav-text:hover
{
    border-color: #000;
}

.sticker
{
    position: absolute;
    height: 450px;
    -webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,0.24));
    filter: drop-shadow(0 3px 2px rgba(0,0,0,0.24));

}

/* tablets */
@media only screen and (max-width: 950px)
{
    #stats
    {
        width: calc(100% - 40px);
        float: none;
        padding: 20px 20px;
    }

    #mapContainer
    {
        width: 100%; 
        height: 700px;
        position: relative;
    }

    #mapContainer div
    {
        box-shadow: inset #000 0px 15px 20px -20px;
    }
}

/* mobile phones */
@media only screen and (max-width: 450px)
{
    html
    {
        font-size: 10px;
    }
    
    .stat-value
    {
        font-size: 3rem;
    }
}