@font-face
{
    font-family: "Maple";
    font-weight: normal;
    src: url("./Fonts/Maple Medium.otf");
}

@font-face
{
    font-family: "Maple";
    font-weight: bold;
    src: url("./Fonts/Maple Black.otf");
}

html
{
    background-color: #FFD651;
    font-family: "Maple", sans-serif;
}

body
{
    height: 100%;
    margin: 0;
    padding: 0;
}

#stats
{
    width: calc(50% - 100px);
    float: right;
    padding: 20px 50px;
}

#mapContainer
{
    width: 50%; 
    height: 100%;
    position: fixed;
}

#mapContainer div
{
    box-shadow: inset #000 -15px 0px 20px -20px;
    opacity: 0.9;
}

#date
{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: normal;
}

.distance
{
    font-size: 2rem;
    margin-top: 15px;
    margin-bottom: 60px;
}

.stat-box
{
    text-align: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    width: calc(50% - 30px);
    display: inline-block;
    border-radius: 10px;
    float: left;
}

#avg-speed
{
    float: right;
}

.stat-value
{
    font-size: 4rem;
    font-weight: bold;
    margin: 30px;
}

.graph
{
    width: calc(100% - 20px);
    margin-top: 20px;
    height: 100px;
    margin-bottom: 50px;
}

.nav-bar
{
    max-width: 400px;
    margin: 0 auto 60px auto;
    clear: both;
}

.nav
{
    font-size: 2rem;
    display: inline-block;
    float: left;
}

#next
{
    float: right;
}

.nav-link
{
    text-decoration: none;
    color: #000;
}

.nav-text
{
    border-bottom: 4px solid transparent;
}

.nav-text:hover
{
    border-color: #000;
}

@media only screen and (max-width: 950px)
{
    #stats
    {
        width: calc(100% - 100px);
        float: none;
    }

    #mapContainer
    {
        width: 100%; 
        height: 700px;
        position: relative;
    }

    #mapContainer div
    {
        box-shadow: inset #000 0px 15px 20px -20px;
    }
}